# Basic EDA

In [12]:
import pandas as pd
import numpy as np

In [7]:
# importing 1/3 dataset. May file
df = pd.read_csv('Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products_May19.csv')

In [8]:
# # importing 1/3 dataset. Non-May file
df_1 = pd.read_csv('Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products.csv')

In [9]:
df_2 = pd.read_csv('1429_1.csv')

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (1,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
df_2.head()

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,NaN,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,4.0,http://reviews.bestbuy.com/3545/5620406/review...,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,NaN,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,NaN,explore42

## Checking the columns of 3 datasets

In [11]:
df.columns

Index(['id', 'dateAdded', 'dateUpdated', 'name', 'asins', 'brand',
       'categories', 'primaryCategories', 'imageURLs', 'keys', 'manufacturer',
       'manufacturerNumber', 'reviews.date', 'reviews.dateSeen',
       'reviews.didPurchase', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.username', 'sourceURLs'],
      dtype='object')

In [12]:
df_1.columns

Index(['id', 'dateAdded', 'dateUpdated', 'name', 'asins', 'brand',
       'categories', 'primaryCategories', 'imageURLs', 'keys', 'manufacturer',
       'manufacturerNumber', 'reviews.date', 'reviews.dateAdded',
       'reviews.dateSeen', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.username', 'sourceURLs'],
      dtype='object')

In [13]:
df_2.columns

Index(['id', 'name', 'asins', 'brand', 'categories', 'keys', 'manufacturer',
       'reviews.date', 'reviews.dateAdded', 'reviews.dateSeen',
       'reviews.didPurchase', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.userCity',
       'reviews.userProvince', 'reviews.username'],
      dtype='object')

## Finding out the missing columns in the two dataset

Comparing the columns of 3 datasets, df_2 (1429_1.csv) had three missing columns of which primaryCategories column was important for our analysis. Thus, we are not considering that dataframe.

In [14]:
may = set(df_1.columns)  
withoutmay = set(df.columns)

In [15]:
df.shape, df_1.shape

((28332, 24), (5000, 24))

In [16]:
withoutmay - may   # (df - df_1)

{'reviews.didPurchase'}

Removing the columns that are not present in both the the datasets (may & not may).

In [17]:
df_1 = df_1.drop('reviews.dateAdded',axis=1)

In [18]:
df = df.drop('reviews.didPurchase', axis=1)

In [19]:
may = set(df_1.columns)  
withoutmay = set(df.columns)

# Checking for missing columns

In [20]:
withoutmay - may    # (df - df_1) # checked both

set()

## Columns sorting

In [21]:
df_1 = df_1.reindex(sorted(df_1.columns), axis=1)

In [22]:
df = df.reindex(sorted(df.columns), axis=1)

In [23]:
df_1.columns

Index(['asins', 'brand', 'categories', 'dateAdded', 'dateUpdated', 'id',
       'imageURLs', 'keys', 'manufacturer', 'manufacturerNumber', 'name',
       'primaryCategories', 'reviews.date', 'reviews.dateSeen',
       'reviews.doRecommend', 'reviews.id', 'reviews.numHelpful',
       'reviews.rating', 'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.username', 'sourceURLs'],
      dtype='object')

In [24]:
df.columns

Index(['asins', 'brand', 'categories', 'dateAdded', 'dateUpdated', 'id',
       'imageURLs', 'keys', 'manufacturer', 'manufacturerNumber', 'name',
       'primaryCategories', 'reviews.date', 'reviews.dateSeen',
       'reviews.doRecommend', 'reviews.id', 'reviews.numHelpful',
       'reviews.rating', 'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.username', 'sourceURLs'],
      dtype='object')

In [25]:
df_1.shape,df.shape

((5000, 23), (28332, 23))

## Concatenating

In [26]:
df_concat = pd.concat([df,df_1],axis=0)

In [27]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33332 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   asins                33332 non-null  object
 1   brand                33332 non-null  object
 2   categories           33332 non-null  object
 3   dateAdded            33332 non-null  object
 4   dateUpdated          33332 non-null  object
 5   id                   33332 non-null  object
 6   imageURLs            33332 non-null  object
 7   keys                 33332 non-null  object
 8   manufacturer         33332 non-null  object
 9   manufacturerNumber   33332 non-null  object
 10  name                 33332 non-null  object
 11  primaryCategories    33332 non-null  object
 12  reviews.date         33332 non-null  object
 13  reviews.dateSeen     33332 non-null  object
 14  reviews.doRecommend  21086 non-null  object
 15  reviews.id           70 non-null     float64
 16  reviews.numHelpful   21115 non-null  float64
 17  reviews.rating       33332 non-null  int64
 18  reviews.sourceURLs   33332 non-null  object
 19  reviews.text         33332 non-null  object
 20  reviews.title        33319 non-null  object
 21  reviews.username     33332 non-null  object
 22  sourceURLs           33332 non-null  object
dtypes: float64(2), int64(1), object(20)
memory usage: 6.1+ MB

### Dropping unwanted columns

In [28]:

df_concat.columns

Index(['asins', 'brand', 'categories', 'dateAdded', 'dateUpdated', 'id',
       'imageURLs', 'keys', 'manufacturer', 'manufacturerNumber', 'name',
       'primaryCategories', 'reviews.date', 'reviews.dateSeen',
       'reviews.doRecommend', 'reviews.id', 'reviews.numHelpful',
       'reviews.rating', 'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.username', 'sourceURLs'],
      dtype='object')

In [29]:
# Dropping unwanted columns
df_new = df_concat.drop(labels=(['id','asins','brand','imageURLs','keys','manufacturerNumber','reviews.sourceURLs','sourceURLs','reviews.id','reviews.dateSeen','manufacturer']), axis=1)

In [30]:
df_new.shape

(33332, 12)

In [31]:
df_new.columns

Index(['categories', 'dateAdded', 'dateUpdated', 'name', 'primaryCategories',
       'reviews.date', 'reviews.doRecommend', 'reviews.numHelpful',
       'reviews.rating', 'reviews.text', 'reviews.title', 'reviews.username'],
      dtype='object')

In [32]:
# checking the missing value percentages

In [33]:
(df_new.isnull().sum()/len(df_new))*100

categories              0.000000
dateAdded               0.000000
dateUpdated             0.000000
name                    0.000000
primaryCategories       0.000000
reviews.date            0.000000
reviews.doRecommend    36.739470
reviews.numHelpful     36.652466
reviews.rating          0.000000
reviews.text            0.000000
reviews.title           0.039002
reviews.username        0.000000
dtype: float64

# Columns: doRecommend & numHelpful can be dropped if they aren't important. 
## Need to take a call on this!

### Basic analysis from the features

In [34]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33332 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   categories           33332 non-null  object
 1   dateAdded            33332 non-null  object
 2   dateUpdated          33332 non-null  object
 3   name                 33332 non-null  object
 4   primaryCategories    33332 non-null  object
 5   reviews.date         33332 non-null  object
 6   reviews.doRecommend  21086 non-null  object
 7   reviews.numHelpful   21115 non-null  float64
 8   reviews.rating       33332 non-null  int64
 9   reviews.text         33332 non-null  object
 10  reviews.title        33319 non-null  object
 11  reviews.username     33332 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 3.3+ MB

In [35]:
# Getting the customers who have given more than 1 reviews (might have bought more than 1 product)
b = df_concat['reviews.username'].value_counts()
b[b>1], b.count()

(ByAmazon Customer    889
 Mike                  89
 Dave                  57
 Chris                 52
 ByKindle Customer     45
                     ...
 BySugarmagnoliact      2
 ByDonald C.            2
 ByS. J. Wood           2
 ByJesse Magee          2
 ByChris C.             2
 Name: reviews.username, Length: 7229, dtype: int64,
 17429)

In [36]:
len(list(df_new['categories'].unique()))

76

In [37]:
len(list(df_new['primaryCategories'].unique()))

10

In [38]:
df_new.to_csv('Amazon_Basic_EDA_01.csv')

## 
## 2nd update

In [6]:
df = pd.read_csv('Amazon_Basic_EDA_01.csv', index_col=0)

### Cleaning the 3rd (1429) file for concatenation

# Main objective:
    - Create a primaryCategory column in 1429 file, since it's missing and is important for our analysis
    - Concatenate it to the main file

In [8]:
# A list of unique products in 1429 file that do not belong to the electronics primaryCategory

list1 = ['Amazon Kindle Lighted Leather Cover,,,\r\nAmazon Kindle Lighted Leather Cover,,,','Amazon Kindle Lighted Leather Cover,,,\r\nKindle Keyboard,,,','Amazon Standing Protective Case for Fire HD 6 (4th Generation) - Black,,,\r\nAmazon Standing Protective Case for Fire HD 6 (4th Generation) - Black,,,','Amazon Kindle Touch Leather Case (4th Generation - 2011 Release), Olive Green,,,\r\nAmazon Kindle Touch Leather Case (4th Generation - 2011 Release), Olive Green,,,',
       'Fire Kids Edition Tablet, 7 Display, Wi-Fi, 16 GB, Green Kid-Proof Case']

In [10]:
df_2 = pd.read_csv('1429_1.csv')

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (1,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
df_2['primaryCategories'] = df_2['name'].apply(lambda x: np.nan if x in list1 else 'Electronics')

In [18]:

print('number of electronics:', df_2['primaryCategories'].value_counts(),'Shape of df:', df_2.shape)

number of electronics: Electronics    32968
Name: primaryCategories, dtype: int64 Shape of df: (34660, 22)

# We can see that out of 33k+ records from 1429 file, 95% belonged to the category - Electronics.

In [19]:
# Dropping unwanted columns 

# Removing columns from df that aren't in df_2
df.drop(labels=['dateAdded', 'dateUpdated'], axis=1, inplace=True)

# Removing unwanted columns from df_2
df_2.drop(labels=['id','asins','brand','manufacturer','reviews.sourceURLs','reviews.id','reviews.dateSeen','reviews.userProvince', 'reviews.userCity','keys', 'reviews.dateAdded', 'reviews.didPurchase'], axis=1, inplace=True)

In [20]:
# Checking for common/uncommon columns
set(df_2) - set(df), set(df) - set(df_2)

(set(), set())

In [21]:
df.shape, df_2.shape

((33332, 10), (34660, 10))

In [22]:
# Sorting columns before concatenating

df_2 = df_2.reindex(sorted(df_2.columns), axis=1)
df = df.reindex(sorted(df.columns), axis=1)

In [23]:
# Concatenating both the files

df_new2 = pd.concat([df,df_2], axis=0)

df_new2.shape

(67992, 10)

In [24]:
# Checking the null values

(df_new2.isnull().sum()/len(df_new2))*100

categories              0.000000
name                    9.942346
primaryCategories       2.488528
reviews.date            0.057360
reviews.doRecommend    18.884575
reviews.numHelpful     18.746323
reviews.rating          0.048535
reviews.text            0.001471
reviews.title           0.026474
reviews.username        0.002942
dtype: float64

In [25]:
#### Cleaning the primaryCategory column

# Cleaning the primaryCategory columns as there are these following anomalies:
    - Battery products have 'Health & Beauty' in their primaryCategory feature
    - Features like: 'Electronics,Media','Electronics,Hardware','Electronics,Furniture' can be clubbed under 'Electronics'

In [26]:
# changing Battery's primary Category to Electronics from Health & Beauty
df_new2.loc[(df_new2['name'] == 'AmazonBasics AAA Performance Alkaline Batteries (36 Count)') | (df_new2['name'] == 'AmazonBasics AA Performance Alkaline Batteries (48 Count) - Packaging May Vary'), 'primaryCategories'] = 'Electronics'


# Replacing primaryCategories like 'Electronics/Media', 'Electronics/Toys' to 'Electronics'

replace_elect = {'Electronics,Furniture':'Electronics', 'Electronics,Hardware':'Electronics','Electronics,Media':'Electronics','Toys & Games,Electronics':'Electronics','Office Supplies,Electronics':'Office Supplies'}
df_new2['primaryCategories'] = df_new2['primaryCategories'].replace(replace_elect)

In [28]:
# value counts of primaryCategories

df_new2['primaryCategories'].value_counts()

Electronics               65632
Office Supplies             660
Animals & Pet Supplies        6
Home & Garden                 2
Name: primaryCategories, dtype: int64

In [29]:
df_new2.to_csv('Amazon_Basic_EDA_02.csv')